* {
  font-family: sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222427;
}

@keyframes loading_users {
  0% {
    transform: rotate(0);
    color: #f00;
  }
  33% {
    transform: rotate(180);
    color: #0f0;
  }
  66% {
    transform: rotate(420);
    color: #00f;
  }
  100% {
    transform: rotate(360);
    color: #f00;
  }
}

@keyframes fade_in {
  from {
    display: none;
    opacity: 0;
    transform: scale(20%, 20%);
  }
  to {
    display: flex;
    opacity: 1;
    transform: scale(100%, 100%);
  }
}

@keyframes loading_fade_out {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-100px, 0);
  }
}
